<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myScheduleLabel" jhiTranslate="conferenceApp.schedule.home.createOrEditLabel">Create or edit a Schedule</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!schedule.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="schedule.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="conferenceApp.schedule.startTime" for="field_startTime">Start Time</label>
            <div class="d-flex">
                <input id="field_startTime" type="datetime-local" class="form-control" name="startTime" [(ngModel)]="schedule.startTime"
                required  />
            </div>
            <div [hidden]="!(editForm.controls.startTime?.dirty && editForm.controls.startTime?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.startTime?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.startTime?.errors?.ZonedDateTimelocal" jhiTranslate="entity.validation.ZonedDateTimelocal">
                    This field should be a date and time.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="conferenceApp.schedule.endTime" for="field_endTime">End Time</label>
            <div class="d-flex">
                <input id="field_endTime" type="datetime-local" class="form-control" name="endTime" [(ngModel)]="schedule.endTime"
                required  />
            </div>
            <div [hidden]="!(editForm.controls.endTime?.dirty && editForm.controls.endTime?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.endTime?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.endTime?.errors?.ZonedDateTimelocal" jhiTranslate="entity.validation.ZonedDateTimelocal">
                    This field should be a date and time.
                </small>
            </div>
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="conferenceApp.schedule.room" for="field_room">Room</label>
            <select class="form-control" id="field_room" name="room" [(ngModel)]="schedule.room" >
                <option [ngValue]="null"></option>
                <option [ngValue]="roomOption.id === schedule.room?.id ? schedule.room : roomOption" *ngFor="let roomOption of rooms; trackBy: trackRoomById">{{roomOption.name}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="conferenceApp.schedule.presentation" for="field_presentation">Presentation</label>
            <select class="form-control" id="field_presentation" name="presentation" [(ngModel)]="schedule.presentation" >
                <option [ngValue]="null"></option>
                <option [ngValue]="presentationOption.id === schedule.presentation?.id ? schedule.presentation : presentationOption" *ngFor="let presentationOption of presentations; trackBy: trackPresentationById">{{presentationOption.name}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
