<div>
    <h2>
        <span jhiTranslate="conferenceApp.schedule.home.title">Schedules</span>
        <button class="btn btn-primary float-right jh-create-entity create-schedule" [routerLink]="['/', { outlets: { popup: ['schedule-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="conferenceApp.schedule.home.createLabel">
            Create new Schedule
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="schedules">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="conferenceApp.schedule.room">Room</span></th>
            <th><span jhiTranslate="conferenceApp.schedule.presentation">Presentation</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let schedule of schedules ;trackBy: trackId">
                <td><a [routerLink]="['../schedule', schedule.id ]">{{schedule.id}}</a></td>
                <td>
                    <div *ngIf="schedule.room">
                        <a [routerLink]="['../room', schedule.room?.id ]" >{{schedule.room?.name}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="schedule.presentation">
                        <a [routerLink]="['../presentation', schedule.presentation?.id ]" >{{schedule.presentation?.name}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../schedule', schedule.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'schedule/'+ schedule.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'schedule/'+ schedule.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
