
<div *ngIf="schedule">
    <h2><span jhiTranslate="conferenceApp.schedule.detail.title">Schedule</span> {{schedule.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="conferenceApp.schedule.startTime">Start Time</span></dt>
        <dd>
            <span>{{schedule.startTime | date:'medium'}}</span>
        </dd>
        <dt><span jhiTranslate="conferenceApp.schedule.endTime">End Time</span></dt>
        <dd>
            <span>{{schedule.endTime | date:'medium'}}</span>
        </dd>
        <dt><span jhiTranslate="conferenceApp.schedule.room">Room</span></dt>
        <dd>
            <div *ngIf="schedule.room">
                <a [routerLink]="['/room', schedule.room?.id]">{{schedule.room?.name}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="conferenceApp.schedule.presentation">Presentation</span></dt>
        <dd>
            <div *ngIf="schedule.presentation">
                <a [routerLink]="['/presentation', schedule.presentation?.id]">{{schedule.presentation?.name}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'schedule/'+ schedule.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
