<div>
    <h2>
        <span jhiTranslate="conferenceApp.presentation.home.title">Presentations</span>
        <button class="btn btn-primary float-right jh-create-entity create-presentation" [routerLink]="['/', { outlets: { popup: ['presentation-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="conferenceApp.presentation.home.createLabel">
            Create new Presentation
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="presentations">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="conferenceApp.presentation.name">Name</span></th>
            <th><span jhiTranslate="conferenceApp.presentation.category">Category</span></th>
            <th><span jhiTranslate="conferenceApp.presentation.user">User</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let presentation of presentations ;trackBy: trackId">
                <td><a [routerLink]="['../presentation', presentation.id ]">{{presentation.id}}</a></td>
                <td>{{presentation.name}}</td>
                <td>{{presentation.category}}</td>
                <td>
                    <span *ngFor="let user of presentation.users; let last = last">
                            {{user.firstName}}{{last ? '' : ', '}}
                        </span>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../presentation', presentation.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'presentation/'+ presentation.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'presentation/'+ presentation.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
